version: '3.8'

services:
  postgres:
    image: postgres:13
    container_name: gakimint_postgres
    environment:
      POSTGRES_DB: gakimint_dev
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: